langchain
python-dotenv
langchain-community
pypdf
wikipedia
chromadb
langchain_chroma
duckdb
duckduckgo_search==5.3.1b1
validators==0.28.1
streamlit
phidata
google-generativeai
pysqlite3-binary
